/*
Theme Neme: wpTheme
Author: Krzysztof Marcinek
Description: Tested template 
Tags: template, test
Version: 0.0.1
Requires: 5.0
Tested up to: 5.0
License: GNU
License URI: google.com
Text Domain: wpTheme

*/

body {
    margin: 0;
    background-color: rgb(231, 201, 157);
}